//colors Nemea
$yellow: #febb38;
$lightBlue: #259fd5;
$darkBlue: #354a85;

//custom colors
$darkerBlue: darken($darkBlue, 5);
$lightGrey: #ededed;
$veryLightBlue: #63b4d8;

//template semantika
$darkBackground: #182139;
$cardsColor: #313852;
$fontColor: #B3B4B7;
