<form method="post" action="{{ path('position_delete', {'id': position.id}) }}" onsubmit="return confirm('La suppression de cet élément est définitive, êtes-vous sûr(e)?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
