{% extends 'layout.html.twig' %}

{% block title %}Création d'une étape d'intégration{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card w-100 m-auto">
                    <div class="card-header text-center">
                        <h1>Créer une nouvelle étape d'intégration</h1>
                    </div>
                    <div class="m-3">
                        {{ include('integration_step/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-md-center mt-3 mb-5">
        <a class="btn btn-primary" href="{{ path('integration_step_index') }}">Retour</a>
    </div>

{% endblock %}
