{% extends 'base.html.twig' %}


{% block main %}
    <div>
        <header>
            <img src="{{ asset('build/images/header-sea4.png') }}" class="error-header">
        </header>
    </div>
    {% block body %}
        <div class="container text-center">
            <h1>Erreur 404 - Page non trouvée</h1>
        </div>
        <img src="{{ asset('build/images/hiver2.jpg') }}" class="error-header">
    {% endblock %}
{% endblock %}
